# Next dev/build outputs
.next
out
.cache
tsconfig.tsbuildinfo

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.playwright
.playwright-cli

# Local env files
.env
.env.*
!.env.example
